html
{
	height:100%;
}

body
{
	position: fixed;
	width:100%;
	height:100%;
	text-align: center;
	font-size: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*background-image: url("../img/pw_maze_white.png");*/

	background: rgb(198,198,198); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(198,198,198) 0%, rgb(221,221,221) 40%, rgb(127,127,127) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(198,198,198)), color-stop(40%,rgb(221,221,221)), color-stop(100%,rgb(127,127,127))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(198,198,198) 0%,rgb(221,221,221) 40%,rgb(127,127,127) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(198,198,198) 0%,rgb(221,221,221) 40%,rgb(127,127,127) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(198,198,198) 0%,rgb(221,221,221) 40%,rgb(127,127,127) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(198,198,198) 0%,rgb(221,221,221) 40%,rgb(127,127,127) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
}

h1,h2,h3,h4,h5
{
	font-weight: bold;
	font-family: "Cousine", sans-serif;
	font-weight: 700;
}

h1 { font-size: 2em; border-bottom: 1px solid black; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; border-bottom: 1px solid black; margin-bottom: 0.5em; }
h3 { font-size: 1.25em; margin-bottom: 0.5em; }
h4 { font-size: 1.15em; margin-bottom: 0.25em; }
h5 { font-size: 1em; margin-bottom: 0.25em; }

.hidden
{
	display: none;
}

#acBody
{
	height:100%;
}

.screen
{
	width:100%;
	height:100%;
	display:none;
}

.screen.active
{
	display:block;
}

.screen .window
{
	width:400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	border: 1px solid black;

	/*background-color:#ddd;*/
	/*padding: 1em;*/
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);

	background: rgb(181,181,181); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,181,181,1) 0%, rgba(255,255,255,1) 35%, rgba(224,224,224,1) 51%, rgba(200,200,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,181,181,1)), color-stop(35%,rgba(255,255,255,1)), color-stop(51%,rgba(224,224,224,1)), color-stop(100%,rgba(200,200,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
}

@media only screen and (max-device-width:480px)
{
	.screen .window
	{
		width:100%;
		min-height:100%;
		margin: 0;
	}
}

.menu li button
{
	width:10em;
	height:3em;
	font-size: 20px;
	margin-bottom: 0.25em;

	background-color:#ccc;
	border:1px solid gray;

	background: rgb(211,211,211); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(211,211,211) 0%, rgb(234,234,234) 50%, rgb(211,211,211) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(211,211,211)), color-stop(50%,rgb(234,234,234)), color-stop(100%,rgb(211,211,211))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(211,211,211) 0%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(211,211,211) 0%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(211,211,211) 0%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(211,211,211) 0%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */

	box-shadow: 2px 2px 4px rgba(0,0,0,0.15);	
}

.menu li button:hover
{
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(224,224,224) 0%, rgb(255,255,255) 49%, rgb(234,234,234) 50%, rgb(211,211,211) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(224,224,224)), color-stop(49%,rgb(255,255,255)), color-stop(50%,rgb(234,234,234)), color-stop(100%,rgb(211,211,211))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(224,224,224) 0%,rgb(255,255,255) 49%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(224,224,224) 0%,rgb(255,255,255) 49%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(224,224,224) 0%,rgb(255,255,255) 49%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(224,224,224) 0%,rgb(255,255,255) 49%,rgb(234,234,234) 50%,rgb(211,211,211) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */

	box-shadow: 3px 3px 4px rgba(0,0,0,0.25);	
}

#gameBoard
{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index: 10;
}

.hudTop
{
	position: fixed;
	z-index: 100;
	top:-0.3em;

	font-size: 0.8em;
	text-align: left;

	padding: 0.35em;

	border: 1px solid black;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;

	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);

	background: rgb(181,181,181); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,181,181,1) 0%, rgba(255,255,255,1) 35%, rgba(224,224,224,1) 51%, rgba(200,200,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,181,181,1)), color-stop(35%,rgba(255,255,255,1)), color-stop(51%,rgba(224,224,224,1)), color-stop(100%,rgba(200,200,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(181,181,181,1) 0%,rgba(255,255,255,1) 35%,rgba(224,224,224,1) 51%,rgba(200,200,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
}

.hudTop.right
{
	right:2em;
}

.hudTop.left
{
	width:200px;
	left:2em;
}

@media only screen and (max-device-width:480px)
{
	.hudTop
	{
		font-size: 0.7em;
	}

	.hudTop.right
	{
		border-bottom-right-radius:0;
		right:0;
	}

	.hudTop.left
	{
		border-bottom-left-radius:0;
		width:200px;
		left:0;
	}
}

.hudTop button
{
	font-size: 0.8em;
	color:white;
	font-weight: bold;
	text-shadow:1px 1px 0px black;

	padding:0.5em;

	width:75px;

	border: 1px solid black;
	border-radius: 2px;

	background: rgb(181,181,181); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(181,181,181) 0%, rgb(147,147,147) 50%, rgb(181,181,181) 100%, rgb(114,114,114) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(181,181,181)), color-stop(50%,rgb(147,147,147)), color-stop(100%,rgb(181,181,181)), color-stop(100%,rgb(114,114,114))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#727272',GradientType=0 ); /* IE6-9 */

	box-shadow: -1px -1px 0px gray, 1px 1px 0px white;
}

.hudTop button:hover
{
	background: rgb(181,181,181); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(181,181,181) 0%, rgb(147,147,147) 50%, rgb(220,220,220) 100%, rgb(114,114,114) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(220,220,220)), color-stop(50%,rgb(147,147,147)), color-stop(100%,rgb(181,181,181)), color-stop(100%,rgb(114,114,114))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(220,220,220) 100%,rgb(114,114,114) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(220,220,220) 100%,rgb(114,114,114) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(220,220,220) 100%,rgb(114,114,114) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(220,220,220) 100%,rgb(114,114,114) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
}

.hudTop div
{
	color:white;

	width:100%;
	padding:0;
	margin-top: 0.2em;
	margin-bottom: 0;
	border: 1px solid black;
	border-radius: 3px;

	overflow: hidden;

	background: rgb(181,181,181); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(181,181,181) 0%, rgb(147,147,147) 50%, rgb(181,181,181) 100%, rgb(114,114,114) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(181,181,181)), color-stop(50%,rgb(147,147,147)), color-stop(100%,rgb(181,181,181)), color-stop(100%,rgb(114,114,114))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(181,181,181) 0%,rgb(147,147,147) 50%,rgb(181,181,181) 100%,rgb(114,114,114) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#727272',GradientType=0 ); /* IE6-9 */

	box-shadow: -1px -1px 0px gray, 1px 1px 0px white;
}

.hudTop div p
{
	padding:0.1em;
	width:0%;
	border-right:1px solid black;

	text-shadow:1px 1px 0px black;

	white-space:nowrap;
}

#hudHP
{
	background: rgb(206,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(206,0,0) 0%, rgb(255,0,0) 53%, rgb(206,0,0) 100%, rgb(255,0,0) 100%, rgb(0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(206,0,0)), color-stop(53%,rgb(255,0,0)), color-stop(100%,rgb(206,0,0)), color-stop(100%,rgb(255,0,0)), color-stop(100%,rgb(0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(206,0,0) 0%,rgb(255,0,0) 53%,rgb(206,0,0) 100%,rgb(255,0,0) 100%,rgb(0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(206,0,0) 0%,rgb(255,0,0) 53%,rgb(206,0,0) 100%,rgb(255,0,0) 100%,rgb(0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(206,0,0) 0%,rgb(255,0,0) 53%,rgb(206,0,0) 100%,rgb(255,0,0) 100%,rgb(0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(206,0,0) 0%,rgb(255,0,0) 53%,rgb(206,0,0) 100%,rgb(255,0,0) 100%,rgb(0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#hudShield
{
	background: rgb(0,99,198); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(0,99,198) 0%, rgb(0,127,255) 50%, rgb(0,99,198) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,99,198)), color-stop(50%,rgb(0,127,255)), color-stop(100%,rgb(0,99,198))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(0,99,198) 0%,rgb(0,127,255) 50%,rgb(0,99,198) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(0,99,198) 0%,rgb(0,127,255) 50%,rgb(0,99,198) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(0,99,198) 0%,rgb(0,127,255) 50%,rgb(0,99,198) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(0,99,198) 0%,rgb(0,127,255) 50%,rgb(0,99,198) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0063c6', endColorstr='#0063c6',GradientType=0 ); /* IE6-9 */
}